<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Scoped Slots Example</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-reboot@4.5.4/reboot.css">
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div id="app">
    <h1>Post list</h1>
    <post-list>
      <template v-slot:post="{ post }">
        <h3>{{ post.title }}</h3>
        <p><i>by {{ post.author }}</i></p>
        <p>{{ post.body }}</p>
      </template>
    </post-list>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="scripts.js"></script>
</body>
</html>